.orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2%;
}

.orderItem{
    padding: 2%;
    width: 65%;
    border: 1px solid;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
}